<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Athena - Analytics Tool{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Include Google Fonts for Poppins and Roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('user_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul class="flashes">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>2024 Athena - Analytics Tool for Healthcare Data</p>
      </div>
    </footer>
  </body>
</html>
