{% extends 'base.html' %} {% block title %}User Dashboard{% endblock %} {% block
content %}
<section class="dashboard">
  <div class="container">
    <h2>User Dashboard</h2>
    <p>Welcome, {{ current_user.username }}!</p>
    <ul>
      <li><a href="{{ url_for('patient_register') }}">Register Patient</a></li>
      <li><a href="{{ url_for('patient_dashboard') }}">View Patients</a></li>
      <li><a href="{{ url_for('upload_file') }}">Upload Data</a></li>
    </ul>
  </div>
</section>
{% endblock %}
